@import "tailwindcss";
@import "./button.css";

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
  
    @media (width >= --theme(--breakpoint-sm)) {
      max-width:none;
    }
    @media (width >= 1400px){
        max-width:1400px
    }
  }
  
  @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  @theme {
    --color-primary: #1f1f1f;
    --color-secondary: #d4f08d;
    --color-Ivory: #f7f4ef
  }

  .footer-title{
    @apply  font-bold mb-3 uppercase;
  }